@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(225, 100%, 94%);
}
.conteudo {
  width: 90%;
  height: 60%;
  border-radius: 15px;
  background-color: hsl(225, 100%, 98%);
  font-family: "Outfit", sans-serif;
  align-content: space-between;
}

.conteudo > img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.titulo1 {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  text-align: center;
}

.sub-titulo {
  font-weight: 400;
  color: hsl(224, 23%, 55%);
  text-align: center;
  margin: 0 32px 20px 32px;
  line-height: 1.8rem;
}

.valor-plano {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(225, 100%, 94%, 0.466);
  border-radius: 15px;
  margin: 0 28px 20px 28px;
}
.titulo1-vp {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 20px;
}

.sub-titulo-vp {
  font-weight: 400;
  color: hsl(224, 23%, 55%);
  text-align: center;
  margin: 0 30px 16px 30px;
  line-height: 1.8rem;
}

.change {
  font-weight: 400;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
}

.botoes {
  display: flex;
  flex-direction: column;
  margin: 0 28px 20px 28px;
}

.b1 {
  background-color: hsl(245, 75%, 52%);
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 30px hsla(245, 75%, 52%, 0.299);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: white;
  margin-top: 15px;
  z-index: 1;
}

.b2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
  margin-top: 30px;
  background-color: hsl(225, 100%, 98%);
  border: none;
}

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
