@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
}

.conteudo {
  background-color: hsl(225, 100%, 98%);
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
